@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*** BSP: @extend %reset;***/
html, body, .copyright {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important; }

/*** Mixins & Placeholders ***/
/**** caret ****/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/* Mediaqueries breakpoints */
/* Helper Classes */
/*$footerHeight:66px;
$footerHomeHeight:87px;

$mobileHeaderHeight:40px;
$headerBorderWidth:4px;*/
::-moz-selection {
  background-color: #f2bc14;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #f2bc14;
  color: #fff;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #535352;
  margin: 2em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

img {
  max-width: 100%; }

/*
 * Formular Elements
 */
form {
  width: 100%; }
  form input[type="text"],
  form input[type="email"],
  form input[type="number"],
  form input[type="password"],
  form input[type="submit"],
  form select,
  form textarea {
    width: 100%; }
  form input, form select, form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #f2bc14; }
    form input:focus, form select:focus, form textarea:focus {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    background-color: #fff; }
    form input[type="checkbox"]:hover {
      background: #d3d7dd;
      box-shadow: inset 0 0 0 2px white; }
    form input[type="checkbox"]:checked {
      background: #f2bc14;
      box-shadow: inset 0 0 0 2px white; }
  form input[type="submit"] {
    background-color: #f2bc14;
    color: #fff; }
  form select {
    background: #fff url(../img/icons/down-arrow.svg) no-repeat 95% 50%;
    background-size: 1em auto; }
  form select::-ms-expand {
    display: none; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  button a {
    text-decoration: none; }
  button.portfolio-link {
    background-color: transparent;
    border: 0; }
    button.portfolio-link a:after {
      font-family: 'FontAwesome';
      content: "";
      padding-right: 0;
      opacity: 1;
      margin-left: 0.5em;
      font-size: 2em;
      /*@include icon-style ("\f00a", 0, 1, .5em, 2em);*/ }

html,
body {
  font-size: 100%;
  /*prevents ios safari from zooming on orientation change (maybe)*/
  -webkit-text-size-adjust: none; }

body {
  color: #232020;
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  font-weight: 400;
  color: #494948; }
  @media screen and (min-width: 992px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 3rem; } }
  .titles h1, .titles
  h2, .titles
  h3, .titles
  h4, .titles
  h5, .titles
  h6 {
    text-transform: uppercase;
    margin: 0 1.5em;
    line-height: 1.2;
    font-size: 2vw; }
  .teaser h1, .teaser
  h2, .teaser
  h3, .teaser
  h4, .teaser
  h5, .teaser
  h6 {
    font-weight: normal;
    font-size: large;
    margin: 2em;
    min-height: 40px; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none; }

p {
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%; }
  p.lead, blockquote p {
    font-size: 1.125rem;
    line-height: 1.33; }

a {
  color: #232020; }
  .logo a {
    color: #494948; }
    body.home .logo a {
      color: #fff; }

ul,
ol {
  padding-left: 1.5rem; }
  ul li,
  ol li {
    line-height: 150%; }
  ul.unstyled,
  ol.unstyled {
    padding: 0;
    list-style: none; }
  ul.inline,
  ol.inline {
    margin: 0 1rem 1rem -1rem;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    ul.inline > li,
    ol.inline > li {
      display: block;
      float: left;
      margin-left: 1rem;
      list-style: none; }

dl {
  margin: 0 0 1rem;
  line-height: 150%; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 0.5rem; }

blockquote {
  position: relative;
  margin: 1.5rem 1rem 1.5rem 3rem;
  text-align: left; }
  blockquote:before {
    content: "“";
    display: block;
    position: absolute;
    top: -1rem;
    left: -3rem;
    color: #665d5d;
    font-size: 5rem;
    line-height: 1; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #665d5d; }

.text-smaller {
  font-size: smaller; }

/*** tables ****/
table {
  width: 100%;
  margin-bottom: 2em; }

.wrapper {
  /*	@media screen and (min-width:$screen-lg + 1){
  		margin: 0 2em;
  	}*/ }
  @media screen and (min-width: 1441px) {
    .wrapper {
      max-width: 1200px;
      margin: 0 auto; } }
  .wrapper > header, .wrapper > main > section:not(#recommends), .wrapper footer > aside {
    /*@extend %reset;*/ }
    @media screen and (min-width: 481px) {
      .wrapper > header, .wrapper > main > section:not(#recommends), .wrapper footer > aside {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }

.wrapper > header {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }
  @media screen and (min-width: 768px) {
    .wrapper > header {
      height: 50vH; } }
  @media screen and (min-width: 481px) {
    .wrapper > header > * {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center;
      -ms-flex-item-align: center; } }
  @media screen and (min-width: 600px) {
    .wrapper > header .titles img {
      display: none; } }

.wrapper > footer > aside > * {
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  flex-basis: 50%;
  -ms-flex-preferred-size: 50%; }

/** einzelne sections **/
@media screen and (min-width: 992px) {
  #intro {
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start; }
    #intro .banner-img {
      -webkit-flex-basis: 75%;
      -moz-flex-basis: 75%;
      flex-basis: 75%;
      -ms-flex-preferred-size: 75%; }
    #intro .banner-text {
      -webkit-flex-basis: 25%;
      -moz-flex-basis: 25%;
      flex-basis: 25%;
      -ms-flex-preferred-size: 25%; } }
@media screen and (max-width: 600px) {
  #intro .banner-img {
    display: none; } }

#teaser {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }
  #teaser > * {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center;
    -ms-flex-item-align: center; }

#latest {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  @media screen and (min-width: 992px) {
    #latest {
      min-height: 50vH; }
      #latest > .contact {
        -webkit-flex-basis: 25%;
        -moz-flex-basis: 25%;
        flex-basis: 25%;
        -ms-flex-preferred-size: 25%; }
      #latest > .latest {
        -webkit-flex-basis: 75%;
        -moz-flex-basis: 75%;
        flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        -webkit-align-self: flex-end;
        -moz-align-self: flex-end;
        align-self: flex-end;
        -ms-flex-item-align: end; } }
  #latest > .latest {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  @media screen and (max-width: 768px) {
    #latest > .latest {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }
  @media screen and (min-width: 769px) {
    #latest > .latest > .portfolio-excerpt {
      -webkit-flex-basis: 33.5%;
      -moz-flex-basis: 33.5%;
      flex-basis: 33.5%;
      -ms-flex-preferred-size: 33.5%; }
    #latest > .latest > .portfolio-thumbnail {
      -webkit-flex-basis: 66.5%;
      -moz-flex-basis: 66.5%;
      flex-basis: 66.5%;
      -ms-flex-preferred-size: 66.5%; } }

#featured {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

@media screen and (min-width: 600px) {
  #featured > *, #contact > * {
    -webkit-flex-basis: calc(100%/3);
    -moz-flex-basis: calc(100%/3);
    flex-basis: calc(100%/3);
    -ms-flex-preferred-size: calc(100%/3);
    overflow: hidden; } }

#contact.cta-section {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  #contact.cta-section > * {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start; }
  @media screen and (max-width: 768px) {
    #contact.cta-section {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #contact.cta-section > .thumbnail, #contact.cta-section > .message {
        -webkit-flex-basis: 50%;
        -moz-flex-basis: 50%;
        flex-basis: 50%;
        -ms-flex-preferred-size: 50%; }
      #contact.cta-section > .form {
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        flex-basis: 100%;
        -ms-flex-preferred-size: 100%; } }

#recommends .slides li {
  margin: 4em 2em;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 4em 2em; }
  #recommends .slides li::after {
    clear: both;
    content: "";
    display: table; }
  #recommends .slides li > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #recommends .slides li > *:last-child {
      margin-right: 0; }
  #recommends .slides li .thumbnail {
    padding: 0 2em; }

/** LOGO **/
h1.logo {
  margin: 0;
  line-height: 0; }
  h1.logo img {
    min-width: 300px; }
    @media screen and (min-width: 992px) {
      h1.logo img {
        margin: 0 10vW; } }

.copyright {
  text-align: center;
  font-size: small;
  background: #494948; }
  .copyright * {
    color: white; }

/** Flexslider **/
.flexslider {
  background: transparent;
  border: 0;
  text-align: center; }
  .titles .flexslider {
    margin: 0 2em; }

.flex-direction-nav a {
  text-decoration: none;
  font-size: 0;
  margin: -12px 0 0; }
  .flex-direction-nav a:before {
    font-size: 24px; }
  .flex-direction-nav a:before {
    text-shadow: none; }

.titles .flex-control-paging {
  display: none; }

/*** Teaser ***/
#teaser > * {
  text-align: center; }
#teaser .teaser {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 10vH 0;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  #teaser .teaser > * {
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  #teaser .teaser img {
    height: 10vH;
    margin: 0 auto; }
  #teaser .teaser a {
    color: grey;
    text-decoration: none; }
    #teaser .teaser a:before {
      font-family: 'FontAwesome';
      content: "";
      padding-right: 0;
      opacity: 1;
      margin-left: 0;
      font-size: 2em; }
    #teaser .teaser a span {
      display: none; }

/*** Call to Action ***/
.call-to-action .badge {
  width: 200px !important;
  height: 200px !important;
  /*    line-height: $item;*/
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin: auto auto;
  background: white;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }
  .call-to-action .badge span {
    display: block; }
  .call-to-action .badge a {
    text-decoration: none;
    display: block;
    color: grey;
    font-size: 1.4em;
    padding: .6em 0; }
    .call-to-action .badge a span {
      font-family: "Montserrat", sans-serif; }
    .call-to-action .badge a span:nth-child(2) {
      text-transform: uppercase;
      color: #f2bc14;
      font-size: 1.8em;
      line-height: 1; }
    .call-to-action .badge a span:last-child {
      color: #494948;
      font-size: 1.2em; }

.cta-section .thumbnail {
  text-align: center; }

.contact {
  background: #fff;
  padding: 0 4vW; }
  .contact .avatar {
    margin: 0 0 2.5vW 0; }

.social-media {
  text-align: justified;
  margin-top: 1em -.5em 0 -.5em;
  padding: 0; }
  .social-media li {
    list-style: none;
    display: inline-block;
    margin: 0 .5em; }
    .social-media li a {
      color: #f2bc14;
      text-decoration: none; }
      .social-media li a:before {
        font-family: 'FontAwesome';
        content: "";
        padding-right: 0;
        opacity: 1;
        margin-left: 0;
        font-size: 2em; }
      .social-media li a span {
        display: none; }
    .social-media li.email a:before {
      content: "\f0e0"; }
    .social-media li.xing a:before {
      content: "\f168"; }
    .social-media li.linkedin a:before {
      content: "\f0e1"; }
    .social-media li.vcard a:before {
      content: "\f15c"; }
    .social-media li:first-child {
      margin-left: 0; }
    .social-media li:last-child {
      margin-right: 0; }

.portfolio-item {
  background: #f2bc14; }
  .portfolio-item * {
    color: white; }
  .portfolio-item .latest button {
    background: transparent;
    border: 0;
    display: block; }
    .portfolio-item .latest button a {
      text-decoration: none; }
      .portfolio-item .latest button a > * {
        vertical-align: middle;
        display: inline-block;
        /*height: 2em;*/ }
    .portfolio-item .latest button a:after {
      font-family: 'FontAwesome';
      content: "";
      padding-right: 0;
      opacity: 1;
      margin-left: 0.5em;
      font-size: 2em; }

/*** Posts ***/
article {
  padding: 2em 2em; }

/*** Posts ***/
.wpcf7 {
  width: inherit; }
  .wpcf7 textarea {
    max-height: 150px; }
  .wpcf7 .wpcf7-form-control-wrap {
    position: relative;
    display: block;
    overflow: hidden; }
    .wpcf7 .wpcf7-form-control-wrap span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: .5em 1em;
      font-size: smaller; }

html, body {
  background: #fff; }

.wrapper > header, .wrapper > footer {
  background-color: #e9ebee; }
.wrapper > footer > aside {
  padding: 4em 4em; }

#intro {
  background-color: #d3d7dd; }

@media screen and (min-width: 992px) {
  #teaser {
    margin-top: -25vH !important; }
    #teaser .teaser {
      margin-left: 2px;
      background: #fff; }
      #teaser .teaser:last-child {
        border-right: 2px solid #fff; } }

#featured > div {
  border-width: 4px 2px 0;
  border-style: solid;
  border-color: #fff; }

#contact {
  background-color: #e9ebee;
  /*	padding-top: 2 * $vgrid;
  	padding-bottom: $vgrid;*/
  padding: 4em 4em 2em; }
  #contact > * {
    padding: 0 2em; }
  #contact > *:first-child,
  #contact > *:last-child {
    padding: 0; }

.wrapper {
  /*	> header{
  		border:3px dotted brown !important;
  	}
  	> main > section{
  	
  		&#intro{
  			border:3px dotted red !important;
  		}
  		
  		&#teaser{
  			border:3px dotted blue !important;
  		}
  		
  		&#latest{
  			border:3px dotted yellow !important;
  		}
  		
  		&#featured{
  			border:3px dotted pink !important;
  		}
  		
  		&#contact{
  			border:3px dotted cyan !important;
  		}
  		
  		&#recommends{
  			border:3px dotted green !important;
  		}
  	}
  	> footer {
  		border:3px dotted violet !important;
  	}*/ }
  .wrapper > header, .wrapper > main > section, .wrapper > footer {
    /*> * {border:3px dotted red !important;}*/ }

/*# sourceMappingURL=my-styles.css.map */
