html, body {
    background: $white;
}
.wrapper{
	> header{
		background-color: lighten($base-bg_color,5%);
	}
	> footer {
		background-color: $base-color-grey;
	}
	> footer > aside{
		
		@media screen and (max-width:$screen-md){
			padding: $vgrid $hgrid;
			address{min-width:320px;}
		}
		@media screen and (min-width:$screen-md + 1){
			padding: 2*$vgrid 2*$hgrid;
			address{min-width:450px;}
		}
		
		
	}
}
#intro {
	background-color:$base-bg_color;

}
#teaser{
	@include transition(all 200ms ease-in-out);
	@media screen and (min-width:$screen-md){
		
		.teaser {
			margin-left: $smallgrid;
			background: #fff;
			&:last-child{
				border-right: $smallgrid solid $white;
			}
		}
	}
}
#featured{
	> div{
		border:{
			width: 2 * $smallgrid $smallgrid 0;
			style:solid;
			color: $white;
		}
	}
}
#contact{
	background-color:$base-bg_color;
/*	padding-top: 2 * $vgrid;
	padding-bottom: $vgrid;*/
	padding: 2 * $vgrid 2 * $hgrid $vgrid;
	
	> * {padding:0 $hgrid;}
	
	> *:first-child,
	> *:last-child{
		padding:0;
	}
}
.footer {
/*    address > div:before{
        color:$dark-color-grey;
        @include icon-style (' ', 0, 1, 1em, 1em);
    }
    .address:before{
        content: "\f276";
    }
    .email:before{
        content: "\f0e0";
    }
    .mobile:before{
        content: "\f10b";
    }
    .phone:before{
        content: "\f095";
    }*/
}
.copyright{
    background: $dark-color-grey;
    &, & * {color:lighten($dark-color-grey,100%);}
}