body {
    background: $white;
    @extend %reset;
    > header{
        background-color: lighten($base-bg_color,2%);
    }
}

body > footer {
    background-color: $base-color-grey;
    > aside{
        @media screen and (max-width:$screen-md){
            padding: $vgrid $hgrid;
            address{min-width:320px;}
        }
        @media screen and (min-width:$screen-md + 1){
            padding: 2*$vgrid 2*$hgrid;
            address{min-width:450px;}
        }
    }
}
#intro {
    background-color:$base-bg_color;
}
#teaser{
    @include transition(all 200ms ease-in-out);
    @media screen and (min-width:$screen-md){

        .teaser {
            margin:0  0 3 * $paragraph-margin $smallgrid;
            background: #fff;
            &:last-child{
                border-right: $smallgrid solid $white;
            }
        }
    }
}
#latest{
    background-color:lighten($base-color-grey,5%);
    * {
        color:$dark-color-grey;
    }
    .badge{
        background: $primary-color;
        font-size: large;
        padding:.2em .5em;
        @media screen and (min-device-width:$screen-sm) and (orientation:landscape){
            margin: 1em -.5em;
        }
        color:white;
        position: absolute;
        top:0;
        left:0;
        + article{
            margin-top: 2em;
        }
    }
}
#contact{
    background-color:$base-bg_color;
}
.footer {}
.copyright{
    background: $dark-color-grey;
    &, & * {color:lighten($dark-color-grey,100%);}
}