html, body {
    background: $white;
}
.wrapper{
	> header, > footer {
		background-color: $base-bg_color;
	}
	> footer > aside{
		@media screen and (max-width:$screen-smallPad){
			padding: $vgrid $hgrid;
		}
		@media screen and (min-width:$screen-smallPad + 1){
			padding: 2*$vgrid 2*$hgrid;
		}
		
	}
}
#intro {
	background-color: $base-color-grey;

}
#teaser{
	
	@media screen and (min-width:$screen-md){
		margin-top: -25vH !important;
		
		.teaser {
			margin-left: $smallgrid;
			background: #fff;
			&:last-child{
				border-right: $smallgrid solid $white;
			}
		}
	}
}
#featured{
	> div{
		border:{
			width: 2 * $smallgrid $smallgrid 0;
			style:solid;
			color: $white;
		}
	}
}
#contact{
	background-color:$base-bg_color;
/*	padding-top: 2 * $vgrid;
	padding-bottom: $vgrid;*/
	padding: 2 * $vgrid 2 * $hgrid $vgrid;
	
	> * {padding:0 $hgrid;}
	
	> *:first-child,
	> *:last-child{
		padding:0;
	}
}