html, body {
    @extend %reset;
    background: #eee;
}
.wrapper{
/*	@media screen and (min-width:$screen-lg + 1){
		margin: 0 2em;
	}*/
	@media screen and (min-width:$screen-wide + 1){
		max-width: $screen-lg;
		margin: 0 auto;
	}
	> header, > main > section:not(#recommends), footer > aside {
		@extend %reset;
		
		@media screen and (min-width:$screen-xs + 1){
			@include display(flex);
		}
	}
}

.wrapper > header {
	@include align-items(center);
	
	@media screen and (min-width:$screen-sm){
		height: 25vH;
	}
	@media screen and (min-width:$screen-xs + 1){
		> * {
		    @include flex-basis(50%);   
		}
	}
	
	.titles img {
		@media screen and (min-width:$screen-smallPad){display: none;}
	}
}
.wrapper > footer > aside{
	> * {@include flex-basis(50%);}
}

/** einzelne sections **/
#intro{
	@media screen and (min-width:$screen-md){
		@include align-items(flex-end);
		
	    .banner-img {
	        @include flex-basis(75%);
	       
	    }
	    .banner-text{
	        @include flex-basis(25%);
	    }
	  }
	  .banner-img {
	   	@media screen and (max-width:$screen-smallPad){display: none;}
	  }
}

#teaser{
	@include align-items(stretch);
	> * {
	    @include flex-basis(25%);
	    @include justify-content(center);
	    @include align-items(center);
	}
}
#latest{
	@include align-items(stretch);
	@media screen and (min-width:$screen-md){
	min-height:50vH;
	> .contact{
			@include flex-basis(25%);
		}
	> .latest{
		@include flex-basis(75%);
		}
	}
	> .latest{
		@include display(flex);
	}
	@media screen and (max-width:$screen-sm){
		> .latest{
			@include flex-direction(column);
		}
	}
	@media screen and (min-width:$screen-sm + 1){
		> .latest{
			> .portfolio-excerpt{@include flex-basis(33.5%);}
			> .portfolio-thumbnail{@include flex-basis(66.5%);}
		}
	}
}
#featured{
	@include align-items(stretch);
}
#featured, #contact{
	@media screen and (min-width:$screen-smallPad){
		> * {
			@include flex-basis(calc(100%/3));
			overflow: hidden;
		}
	}
}
#contact.cta-section{
	> * {@include align-self(flex-end);}
	@media screen and (max-width:$screen-sm){
		@include flex-wrap(wrap);
		> .thumbnail, > .message {
			@include flex-basis(50%);
		}
		> .form {
			@include flex-basis(100%);
		}
	}
}

