/*** Fixed width for large screens ***/
.wrapper{
    @media screen and (max-width:$screen-wide){
        width:100%;
    }
    @media screen and (min-width:$screen-wide + 1){
        max-width: $screen-lg;
        margin: 0 auto;
    }
}
/*** Flexboxes ***/
.flexbox body{
    > header, footer > aside{
        @include base-flex;
    }
    > header {
        @media screen and (min-device-width:$screen-smallPad) and (max-device-width:$screen-sm) and (orientation:landscape){
            height:50vH;
        }
        @media screen and (min-device-width:$screen-smallPad){ 
            height:25vH;
            @include transition(height 300ms ease-in-out);
            @include align-items(center);
            &.sticky{
                @include transition(height 300ms ease-in-out);
                height:12vH !important;
                position:fixed;
                z-index:10;
            }
            
            > * {
                @include flex-basis(50%);  
            }

        }
        .titles img {
            @media screen and (max-width:$screen-xs) {
                margin-bottom:1em;
            }
            @media screen and (min-width:$screen-smallPad) and (max-width:$screen-sm) and (orientation:landscape){display: none;}
            @media screen and (min-width:$screen-smallPad) {display: none;}
        }
    }
}
body > footer {
    .flexbox & {
        @media screen and (min-width:$screen-md){
            > aside{
                @include justify-content(space-between);
                @include align-items(flex-start);
                > *:first-child {
                    padding-right:$hgrid;
                }
                > *:last-child {
                    padding-left:$hgrid;
                    @include flex(2);
                }
            }
            &:not(.home) > aside {
                @include outer-container(1024px);
            }
        }
        address{
            @include display(flex);
            @include justify-content(flex-start);
            > div {padding-right: $hgrid;}
        }
    }
}
#intro{
    .flexbox &{
        @include base-flex;
        > * {@include flex-basis(50%);}
    }
    .banner-img {
        @media screen and (max-width:$screen-smallPad){display: none;}
    }
}
#teaser{
    .flexbox &{
        @include base-flex;
        @include align-items(stretch);
        > * {
            @include flex(1);
            @include justify-content(center);
        }
    }

    > .call-to-action{display:none;}
}
#latest{
    @include base-flex;
    @include align-items(stretch);

    @media screen and (min-width:$screen-md){
        margin:$vgrid 6 * $hgrid;
    }
    @media screen and (min-width:$screen-sm + 1) and (max-width:$screen-md){
        margin:$vgrid $hgrid/5;
    }
    @media screen and (min-width:$screen-xs){
        .portfolio-excerpt{@include flex-basis(40%);}
        .portfolio-thumbnail{@include flex-basis(60%);}
    }
}
#featured{
    @include base-flex;
    @include align-items(stretch);

/*    @media screen and (min-width:$screen-sm){
        height:280px; 
    }*/
}
#contact{

    @include base-flex;
    @media screen and (max-device-width:$screen-sm) and (orientation:landscape){
        @include flex-direction(column);
    }
    @media screen and (min-device-width:$screen-sm){
        @include align-items(flex-start);
        .message{
            @include flex-basis(40%); 
        }
        .form{
            @include flex-basis(60%);   
        }
    }
    @include special-padding;
}
#recommends {
    .content{
        @media screen and (min-device-width:$screen-sm){
            @include display(flex);
            > .thumbnail {
                @include flex-basis(40%);
                padding:0 2em;
            }
            > .text{
                @include flex-basis(60%);
            }
        } 
    }
    .flex-viewport{
        margin: $vgrid 2 * $hgrid;  
        margin: 0;
        overflow: hidden;
    }
    @include special-padding;
}

.page:not(.home) .wrapper{
    > main {
        > section{
            @include outer-container(1024px);
        }
    }
}

/*** Single ***/
article {
    body:not(.single) &{
        padding: $vgrid $hgrid;
    }
    body.single &{
        section{
            padding: $vgrid $hgrid;
            @include display(flex);
            @include flex-direction(row);
            .gallery-simple {
                @include flex-basis(40%);
            }
            .content{
                @include flex-basis(60%);
                padding: 0 $hgrid;
            }
        }
    }
}