/** LOGO **/
h1.logo {
    margin:0;
    line-height:0;
    img {
        min-width: 300px;
        @media screen and (min-width:$screen-md){
            margin:0 10vW; 
        }  
    }
}
.copyright{
	@extend %reset;
    text-align: center;
    font-size: small;
    background: $dark-color-grey;
    * {color:lighten($dark-color-grey,100%);}
}

/** Flexslider **/
.flexslider{
    background: transparent;
    border:0;
    text-align: center;
    .titles & {
    	margin: 0 2em;
    }
}
.flex-direction-nav{
	a{
		text-decoration: none;
		font-size: 0;
		@include flex-nav(24px);
		&:before{
			text-shadow: none;
		}
	}
}
.flex-control-paging{
	.titles & {display: none;}
}

/*** Teaser ***/
#teaser{
	> *{
	    text-align: center;
	}
	.teaser{
	    @include display(flex);
	    @include flex-direction(column);
	    padding:10vH 0;
	    @include justify-content(center);
	    @include align-items(center);
	   > * {
		   	@include align-self(center);
		   	@include flex(1);
	   	}
	   	
	   	img {
	   	    height:10vH;
	   	    margin:0 auto;
	   	}
	   	
	   	a{
	   	    color:grey;
	   	    text-decoration: none;
	   	    &:before{
	   	        @include icon-style ("\f055", 0, 1, 0, 2em);
	   	    }
	   	    span{display: none;}
	   	}
	}
}

/*** Call to Action ***/
.call-to-action{
	.badge{
		@include ctaBadge(200px);
		margin:auto auto;
		background: white;
		span {display: block;}
		@include shadow;
		
		a{
			text-decoration: none;
			display: block;
			color:grey;
			font-size:1.4em;
			padding:.6em 0;
			
			span {
			    font-family: $headings-font-family;
			}
			
			span:nth-child(2){
			    text-transform: uppercase;
			    color:$primary-color;
			    font-size: 1.8em;
			    line-height: 1;
			}
			span:last-child{
			    color:$dark-color-grey;
			    font-size: 1.2em;
			}
		}
	}
}

.cta-section{
    .thumbnail{
        text-align: center;
    }
}

.contact{
    background: $base-color-white;
    padding: 0 4vW;
    .avatar{
        margin:0 0 2.5vW 0;
    }
}

.social-media{
	text-align:justified;
	margin-top:1em -.5em 0 -.5em;
	padding: 0;
	li{
		list-style:none;
		display:inline-block;
		margin:0 .5em;
		
		a{
			color:$primary-color;
			text-decoration:none;
			&:before{
			    @include icon-style ("\f08e", 0, 1, 0, 2em);
			}
			span{
			    display:none;
			}
		}
		
		&.email a:before{content: "\f0e0";}
		&.xing a:before{content: "\f168";}
		&.linkedin a:before{content: "\f0e1";}
		&.vcard a:before{content: "\f15c";}
		
		&:first-child{margin-left: 0;}
		&:last-child{margin-right: 0;}
	}
}

.portfolio-item{
    background: $primary-color;
    * {color:lighten($primary-color,100%);}
    .latest{
        button{
            background: transparent;
            border:0;
            display: block;
            a{
                text-decoration: none; 
                > * {
                    vertical-align: middle;
                    display: inline-block;
                    /*height: 2em;*/
                }
            }
            a:after{
                @include icon-style ("\f00a", 0, 1, .5em, 2em);
            }
        }
    }
}

/*** Posts ***/
article {
	padding: $vgrid $hgrid;
}
/*** Formular ***/
.wpcf7{
	width: inherit;
	textarea{
		max-height:150px;
		}
		.wpcf7-form-control-wrap{
			position: relative;
			display: block;
			overflow: hidden;
			span{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				padding: .5em 1em;	
				font-size: smaller;
				
			}
		}
	}

/*** Navigation ***/
.menu-item{
	list-style:none;
	a {text-decoration:none;}
	.sub-menu{display:none;}
	
	&.menu-item-has-children{
		> a:before{
			@include icon-style ("\f0da", .5em, 1, 0, 1em);
		}
		&:hover{
		 	> a:before{
		 		content:"\f0d7";
		 	}
		 	
		}
		&.current_page_item, &:hover, &:focus{
			> a + ul {display:block;}
		} 	
	}
}