/** HEADER **/
h1.logo {
    span{
        @extend %text-indent;
    }
    margin:0;
    line-height:0;
    @media screen and (max-device-width:$screen-smallPad) and (orientation:portrait){
        margin:1.2em 0;
    }
    img {
        @media screen and (max-device-width:$screen-xs) and (orientation:landscape){
            padding:5vH 15vW;
        }
        @media screen and (min-device-width:$screen-xs + 1) and (max-device-width:$screen-sm) and (orientation:landscape) and (orientation:landscape){
            padding:0 5vW;
        }

        @media screen and (min-device-width:$screen-sm){
            padding:0 12vW;
            @include transition(all 600ms ease-in-out);
            .sticky & {
                padding-top:6vH;
                padding-bottom:6vH;
                @include transition(all 600ms ease-in-out);
            }
        }
    }
}
/** Flexslider **/
.flexslider{
    background: transparent;
    border:0;
    .titles & {
        margin:0;
        text-align: center;
        li {
            @media screen and (min-width:$screen-smallPad) and (max-width:$screen-md){
                margin-top:2em;
            }
        }
    }
}
.flex-direction-nav{
    .titles &,
    #recommends & {display:none;}
}
.flex-control-nav{
    .titles &{display: none;}
    #recommends & {
        @media screen and (max-width:$screen-sm){
           bottom:0; 
           margin:0 -2em;
        }
        @media screen and (min-width:$screen-sm + 1){
           bottom:30%; 
        }
        
    }
}
/*** shrink intro ***/
#intro{
    @media screen and (max-width:$screen-smallPad){
        min-height:80vH;
    }
    @media screen and (min-width:$screen-smallPad){
        @include align-items(flex-start);
        > * {
            @include transition(all 200ms ease-in-out);
        }
        .banner-img.shrink{
            @include flex-basis(25%);
        }
        .banner-text.shrink{
            @include flex-basis(75%);
        }
    }
}
/*** Teaser ***/
#teaser{
    > *{
        text-align: center;
    }
    .teaser{
        img {
            margin:0 auto;
            height:100px;
            width:auto;
            max-width:none;
            .ie.windows & {
                margin-bottom: 2em;
            }
        }
        a{
            color:grey;
            text-decoration: none;
            &:before{
                @include icon-style ("\f055", 0, 1, 0, 2em);
            }
            span{display: none;}
        }
    }
}


.contact{
    .avatar{
        @include size(150px);
        @include border-radius(50%);
        margin-bottom: 4em;
        @media screen and (max-device-width:$screen-sm) and (orientation:landscape){
            display:none;
        }
    }
}
.social-media{
    text-align:justified;
    margin-top:1em -.5em 0 -.5em;
    padding: 0;
    li{
        list-style:none;
        display:inline-block;
        margin:0 .5em;

        a{
            color:$dark-color-grey;
            text-decoration:none;
            &:before{
                @include icon-style ("\f08e", 0, 1, 0, 2em);
                .footer & {font-size: 1.5em;}
            }
            span{
                display:none;
            }
        }

        &.email a:before{content: "\f0e0";}
        &.xing a:before{content: "\f168";}
        &.linkedin a:before{content: "\f0e1";}
        &.vcard a:before{content: "\f15c";}

        &:first-child{margin-left: 0;}
        &:last-child{margin-right: 0;}
    }
}

/*** featured ***/
.portfolio-item{

    &.featured{
        @media screen and (min-width:$screen-md){
            position:relative;
            height:inherit;
            > .portfolio_excerpt{
                position: absolute;
                opacity:0;
                top:0;
                left:0;
                right:0;
                bottom:0;
                overflow:hidden;
                @include alpha-background-color(rgba($dark-color-grey, 0.75), $white);
                * {color:$white;}
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);
                padding:2em;
            }
            &:hover > .portfolio_excerpt{
                @include transition(all 250ms ease-in-out);
                opacity:1;
                cursor:pointer;
            }
        }
    }
    @include flex-basis(33%);
}
.portfolio-thumbnail{
    overflow:hidden;
    background:$primary_color;
    img{
        #latest &{
            max-width: 100%;
            height:auto;
        }
    }
}
.latest{

    button{
        background: transparent;
        border:0;
        display: block;
        a{
            text-decoration: none; 
            > * {
                vertical-align: middle;
                display: inline-block;
            }
        }
        a:after{
            @include icon-style ("\f00a", 0, 1, .5em, 2em);
        }
    }
}
/*** Posts ***/
article{
    body.single &.category-portfolio{
        padding-top: 55vH;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        
        section {
            background: $white;
        }
    }
}
.post-categories{
    list-style:none;
    margin:0;
    padding:0;
    li {display:inline-block;}
    a {
        font-size: .9em;
        &:before{
            @include icon-style ("\f292", .5em, 1, 0, 1em);
        }
    }
}
.gallery-simple{
    figure{
        margin:0 0 2em 0;
    }
    figcaption{
        font-size: smaller;
        text-align: center;
        padding: .2em 0;
        color:$dark-color-grey;
    }
}

/*** Formular ***/
.wpcf7{
    .kontakt & {
        float: left;
        width: 50%;
        margin-right: $hgrid;
    }
    #contact &{
        @media screen and (min-width: $screen-sm){
           margin-left: $hgrid; 
        } 
    }
    textarea{
        max-height:150px;
    }
    p{
        margin:0 0 2em 0;
    }
    .wpcf7-form-control-wrap{
        position: relative;
        display: block;
        overflow: hidden;
        span{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: .5em 1em;	
            font-size: smaller;

        }
    }
}

/*** Tag Cloud ***/
.tagcloud{
    a{
        text-decoration:none;
    }
}
/*** Toggle Content ***/
.show-content{
    height:0;
    width: 0;
    opacity: 0;
    .shrink &{
        @include transition(all 200ms ease-in-out);
        height:auto;
        width: 95%;
        opacity: 1;
    }
}
.toggle{
    &:hover{
        cursor: pointer;
    }
    display: inline-block;
    float: right;
    span{display:none;}
    text-decoration: none;
    &:before{
        color:$dark-color-grey;
        @include icon-style ("\f055", 0, 1, 0, 44px);
    }
    &.show{
        &:before{
            @include icon-style ("\f056", 0, 1, 0, 44px);
        }
    }
}
/*** Recommends ***/
#recommends{
    .thumbnail{
        @include gray-filter(100%);
        
        @media screen and (max-width:$screen-sm){
            display:block;
            width:100%;
            padding-bottom: 2*$hgrid;
        }
        
        &:hover{@include gray-filter(0);}
        
/*        img {
            height:300px;
            width:auto;
            max-width: none;
            margin:0 auto;
        }*/
    } 
}
/** Footer **/
.copyright{
    margin:0;
    padding:.5em;
    text-align: center;
    font-size: small;
}

.view-article{
    display:none;
}