/*** Navigation ***/
.menu{
    .footer & {
        padding:0;
        margin:0;
        float:right;
        @media screen and (max-width:$screen-xs){
            margin:0 -2em;
            float:none;
            text-align:center;
        }
    }
}
.menu-item, .page_item{
    a {text-decoration:none;}
    .sub-menu, .children{display:none;}
    .footer &{
        font-size: .8rem;
        border:{
            width:0 1px 0 0;
            color:$dark-color-grey;
            style:solid;
        }
        line-height:1;
        display: inline-block;
        padding:0 .5em;
        list-style:none;
        &:last-of-type, &.last-child{border:0;}

        &.menu-item-has-children, &.page_item_has_children{
            > a:before{
                @include icon-style ("\f0da", .5em, 1, 0, 1em);
            }
            &:hover{
                > a:before{
                    content:"\f0d7";
                }

            }
            &.current_page_item, &:hover, &:focus{
                > a + ul {display:block;}
            } 	
        }
    }
}