/* Sticky footer styles
-------------------------------------------------- */
body, html {
height:100%;
}
body.error404 {
  position: relative;
    height: auto;
    min-height: 100%;
    margin-bottom: 245px;
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 245px;
    }
}

