@include selection {
    background-color: $primary-color;
    color: $white;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-bd;
    margin: $vgrid 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
a:focus{outline: none;}
img {
	max-width: 100%;
    div:not(.teaser) &{
        
    }
}
/*
 * Formular Elements
 */
 form{
 	width: 100%;
 	
 	input[type="text"],
 	input[type="email"],
 	input[type="number"],
 	input[type="password"], 
 	input[type="submit"], 
 	select, 
 	textarea{
 		width: 100%;
 		
 	}
 	input, select, textarea{
 		@include appearance(none);	
 		padding: .5em 1em;
 		border: {
 			width: 1px;
 			style:solid;
 			color: $primary-color;
 		}
 			&:focus{
 				box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
 			}
 	}
 	input[type="checkbox"]{
 		@include size(20px);
 		background-color: $white;
 		&:hover{
 			background:$base-color-grey;
 			box-shadow: inset 0 0 0 2px white;
 		}
 		&:checked{
			background:$primary-color;
			box-shadow: inset 0 0 0 2px white;
		}
 	}
 	input[type="submit"]{
 		background-color: $primary-color;
 		color: $white;
 	}
 	select{
 		background:$white url(../img/icons/down-arrow.svg) no-repeat 95% 50%;
 		background-size: 1em auto;
 	}
 	select::-ms-expand {
 	    display: none;
 	}
 }
 button{
 	@include appearance(none);
 	a{text-decoration: none;}
 	&.portfolio-link{
 		background-color: transparent;
 		border: 0;
 		
 		a:after{
 			@include icon-style ("\f009", 0, 1, .5em, 2em);
 			/*@include icon-style ("\f00a", 0, 1, .5em, 2em);*/
 		}
 	}
 }
 .post-edit-link{
     font-size: small;
 }