@mixin ctaBadge($item) {
    width: $item !important;
    height: $item !important;
/*    line-height: $item;*/
    @include border-radius ($item/2);
}

@mixin flex-nav($size){
	margin:-$size/2 0 0;
	&:before{
		font-size: $size;
	}
}