//debugging
$foo:red;
$base-color-grey:#a6aebb;
$dark-color-grey:#535352;
$base-color-white:#fff;
$primary-color:#f2bc14;


//Base Colors
$color-bd:#535352;
$base-bg_color:#eee;
$text-color:#232020;


//Grids, Margins and paddings

$vgrid:20px;
$hgrid:20px;

/*$footerHeight:66px;
$footerHomeHeight:87px;

$mobileHeaderHeight:40px;
$headerBorderWidth:4px;*/