//debugging
$foo:red;


//Base Colors
$color-bd:#666;
/*$base-bg_color:#eee;
$text-color:#232020;
$base-color-grey:#A6ABAE;
$dark-color-grey:#52595F;
$base-color-white:#fff;
$primary-color:#6D3332;
$primary-color-darker:#623636;
$portfolio-thumb-color:#4d575e;
$portfolio-bg-color:#000;*/


//Grids, Margins and paddings

$vgrid:20px;
/*$footerHeight:66px;
$footerHomeHeight:87px;

$mobileHeaderHeight:40px;
$headerBorderWidth:4px;*/