//debugging
$foo:red;
$base-color-grey:#cad4e5;
$dark-color-grey:#525d70;
$base-color-white:#fff;
$primary-color:#fecc16;
$white: #fff;


//Base Colors
$color-bd:$base-color-grey;
$base-bg_color:#e5eaf2;
$text-color:darken($dark-color-grey,50%);


//Grids, Margins and paddings

$vgrid:2em;
$hgrid:2em;
$smallgrid:2px;



/*$footerHeight:66px;
$footerHomeHeight:87px;

$mobileHeaderHeight:40px;
$headerBorderWidth:4px;*/